<ul class="form-group">
	<li>
		<p>Request Number</p>
		<%= @request.request_number %>
	</li>
	<li>
		<p>Sequence Number</p>
		<%= @request.sequence_number %>
	</li>
	<li>
		<p>Request Type</p>
		<%= @request.request_type %>
	</li>
	<li>
		<p>Primary Service Area Code</p>
		<%= @request.service_area_primary_service_area_code %>
	</li>
	<li>
		<p>Additional Service Area Codes</p>
		<%= @request.service_area_additional_service_area_codes %>
	</li>
	<li>
		<p>Company Name</p>
		<%= @request.excavator_company_name %>
	</li>
	<li>
		<p>Address</p>
		<%= @request.excavator_address %>
	</li>
	<li>
		<p>Digsite Info Well Known Text</p>
		<%= @request.digsite_info_well_known_text %>
	</li>
</ul>